{% include "task_item" %}

<datalist id="project-dropdown" hx-swap-oob="true">
    {% for project in projects %}
        <option value="{{project}}">
    {% endfor %}
</datalist>


                                <ul id="project-list" class="project-list" hx-swap-oob="true">
                                    <li class="project-item">
                                        <button type="button" :class='{"active": !projectSort}' class="i-label-button"
                                            x-on:click='projectSort=""'>
                                            <i class="fa-solid fa-inbox"></i>
                                            All
                                        </button>
                                    </li>
                                    {%for project in projects %}
                                    <li class="project-item">
                                        <button type="button"
                                            :class='{"active": projectSort === {{project|json_encode|escape|safe}} }'
                                            class="i-label-button" x-on:click="projectSort='{{project|escape|safe}}'">
                                            <i class="fa-solid fa-hashtag"></i>
                                            {{project}}
                                        </button>
                                    </li>
                                    {%endfor%}
                                </ul>

                                <select class="new-int" id="project-search-dropdown" name="project" hx-swap-oob="true">
                                                <option value="">Any project</option>
                                                {% for project in projects %}
                                                    <option value="{{project|escape|safe}}">{{project|escape|safe}}</option>
                                                {%endfor%}
                                            </select>

                                                                <div id="list-groups-fixed" hx-swap-oob="true">
                        <div id="project-grid" class="project-grid">
                            <button type="button" class="project-grid-item" x-on:click="projectSort=''">
                                <div class="project-icon-container">
                                    <i class="fa-solid fa-inbox" style="color: #fefefe;"></i>
                                </div>
                                <span>All</span>
                            </button>
                            {% for project in projects %}
                            <button type="button" id="project-button-{{project|escape|safe}}" class="project-grid-item" x-on:click="projectSort='{{project|escape|safe}}'">
                                <div class="project-icon-container">
                                    <i class="fa-solid fa-hashtag" style="color: #fefefe;"></i>
                                </div>
                                <span>{{project}}</span>
                            </button>
                            {%endfor%}
                        </div>
                    </div>
