<ul id="task-list" class="task-list" hx-swap="outerHTML">
                    {% for task in tasks %} {% include "task_item" %} {% endfor
                    %}
                    <li id="empty-message">Whew! No tasks!</li>
                </ul>
