<div :class="{'modal-open': openTask === '{{task.id}}' } " class="modal" role="dialog" tabindex="-1"
    x-show="openTask === '{{task.id}}'" x-cloak x-init="htmx.process($el)">
    <div class="modal-header">
        <span style="display: flex; align-items: center; gap: 0.5rem;">
            {% include "modal/task_checkbox" %}
            <input type="date" x-model="date" class="new-int-t">
            <button x-show="date !== lastDate" x-transition x-on:click="date = lastDate" class="i-button">
                <i class="fa-solid fa-xmark"></i>
            </button>

        </span>

        <div class="header-buttons-row">
            <button class="i-button priority-button" x-on:click="priorityMenuOpen = !priorityMenuOpen">

                {% if task.priority == "high" %}
                <i class="fa-regular fa-flag" style="color: rgb(220,17,17);"></i>
                {%elif task.priority == "medium" %}
                <i class="fa-regular fa-flag" style="color: rgb(255,218,3);"></i>
                {%elif task.priority == "low" %}
                <i class="fa-regular fa-flag" style="color: rgb(3,182,255);"></i>
                {%else%}
                <i class="fa-regular fa-flag" style="color: rgb(68,68,68);"></i>
                {%endif%}

            </button>

            <div class="priority" style="position: relative;">

                <div class="priority-menu" x-show="priorityMenuOpen" @click.away="priorityMenuOpen=false" x-cloak
                    x-transition x-on:click="priorityMenuOpen = false">
                    <button hx-post="/tasks/modify/{{task.id}}/priority" hx-vals='{ "data.priority": "high" }'
                        hx-target="#task-{{task.id}}" hx-swap="outerHTML" class="i-label-button"
                        x-on:click="priorityMenuOpen = false">
                        <span>
                            <i class="fa-regular fa-flag" style="color: rgb(220,17,17);"></i>
                            High
                        </span>
                    </button>
                    <button class="i-label-button" hx-post="/tasks/modify/{{task.id}}/priority"
                        hx-vals='{ "data.priority": "medium" }' hx-target="#task-{{task.id}}" hx-swap="outerHTML"
                        x-on:click="priorityMenuOpen = false">
                        <span>
                            <i class="fa-regular fa-flag" style="color: rgb(255,218,3);"></i>
                            Medium
                        </span>
                    </button>
                    <button class="i-label-button" x-on:click="priorityMenuOpen = false"
                        hx-post="/tasks/modify/{{task.id}}/priority" hx-vals='{ "data.priority": "low" }'
                        hx-target="#task-{{task.id}}" hx-swap="outerHTML" x-on:click="priorityMenuOpen = false">
                        <span>
                            <i class="fa-regular fa-flag" style="color: rgb(3,182,255);"></i>
                            Low
                        </span>
                    </button>
                    <button class="i-label-button" x-on:click="priorityMenuOpen = false"
                        hx-post="/tasks/modify/{{task.id}}/priority" hx-vals='{ "data.priority": "none" }'
                        hx-target="#task-{{task.id}}" hx-swap="outerHTML" x-on:click="priorityMenuOpen = false">
                        <span>
                            <i class="fa-regular fa-flag" style="color: rgb(68,68,68);"></i>
                            None
                        </span>
                    </button>
                </div>

        </div>
    </div>
</div>