@font-face {
    font-family: patricstar;
    src: url(/fonts/PatrickHand-Regular.ttf) format("truetype");
    font-display: swap;
}

body {
    background-color: #eee;
    font-family: patricstar, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: #000;
    margin: 0px;
    margin-bottom: 70px;
}

.new-task {
    background-color: #eee;
    text-align: center;
}

.new-int {
    height: 35px;
    margin: 0px 7.5px;
    padding: 0px;
    border-radius: 10px;
    border-width: 3px;
    border-color: #000;
}

.new-int- {
    display: inline-block;
    background-color: #aaa;
    padding: 10px;
    border-radius: 10px;
}

.new-int::placeholder {
    padding: 9px;
    font-family: patricstar, sans-serif;
}

input.new-int {
    width: 200px;
}

textarea.new-int {
    width: 450px;
    vertical-align: bottom;
}

button.new-int {
    width: 75px;
}

div.tasks-list {
    background-color: #eee;
    text-align: center;
}

ul.task-list {
    display: inline-block;
    background-color: #aaa;
    text-align: center;
    text-decoration: none;
    width: 1010px;
    padding: 10px;
    margin: 0px;
    border-radius: 10px;
}

li.task-item {
    display: flex;
    list-style-type: none;
}

.task-row {
    display: flex;
    width: 100%;
}

.task-content {
    display: flex;
    width: 100%;
    cursor: pointer;
}

li.task-item:hover {
    background-color: #ccc;
}

button.show-more {
    display: flex;
}

#empty-message {
    list-style-type: none;
    display: block;
}

#task-list:has(.task-item) #empty-message {
    display: none;
}

.show-more {
    width: 100%;
    height: 100%;
    display: flex;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
}
.model-inner {
    background-color: white;
    border-radius: 0.5em;
    max-width: 600px;
    padding: 2em;
    margin: auto;
}
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.overlay {
    position: fixed;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
}

.task-description,
.task-name-modal {
    border: none;
    font-family: patricstar, sans-serif;
    box-sizing: border-box;
}

.task-name-modal {
    font-size: 1.3em;
}

.task-description {
    font-size: 15px;
    resize: none;
    width: 400px;
    height: 100px;
    box-sizing: border-box;
}

.task-description:focus,
.task-name-modal:focus {
    outline: none;
    border: none;
}

.task-description:hover,
.task-name-modal:hover {
    outline: 1px solid rgba(50, 50, 50, 0.3);
}

[x-cloak] {
    display: none !important;
}
