@font-face {
    font-family: patricstar;
    src: url(/PatrickHand-Regular.ttf) format("truetype");
    font-display: swap;
}

body {
    background-color: #ccc;
    font-family: patricstar, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: #000;
    margin: 10 0;
}

.new-task {
    background-color: #ccc;
    text-align: center;
}

.new-int {
    height: 35px;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    border-width: 3px;
    border-color: #000;
}

.new-int- {
    display: inline-block;
    background-color: #aaa;
    padding: 10px;
    border-radius: 10px;
}

.new-int::placeholder {
    padding-top: 9px;
    font-family: patricstar, sans-serif;
}

input.new-int {
    width: 200px;
    height: 35px;
}

textarea.new-int {
    width: 450px;
    vertical-align: bottom;
    height: 35px;
    margin: 0px 20px;
}

button.new-int {
    width: 75px;
    height: 35px;
}

#task-list:has(.task-item) #empty-message {
    display: none;
}
