<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://tasks.phuri.cc/">
    <meta property="og:title" content="Task Manager">
    <meta property="og:description" content="A fast and simple online task manager">
    <meta property="og:image" content="https://tasks.phuri.cc/assets/favicon.svg">
    <title>Task manager</title>
    <link rel="stylesheet" href="/style.css?v={{css_hash}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/16.3.0/lib/marked.umd.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script defer src="https://unpkg.com/alpinejs@3.15.11/dist/cdn.min.js"></script>
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
</head>

<body x-data="{ projectSort: '', activeTab: 'pending', newTaskNotification: false, newTaskInputFocused: false, openTask:null }"
    @task-notification.window="newTaskNotification = true">

    {% include "search" %}

    <div class="flex-horizontal">
        <div id="screen">
            <div id="sidebar">
                <div id="tabs">
                    <div></div>
                    <div></div>
                </div>
                <div id="task-groups-list">
                    <div id="list-groups-fixed"></div>
                    <div id="time-groups"></div>
                    <div id="list-groups">
                        <div class="projects" x-show="activeTab !== 'search'">
                            <ul id="project-list" class="project-list">
                                <li class="project-item">
                                    <button type="button" :class='{"active": !projectSort}' class="i-label-button"
                                        x-on:click='projectSort=""'>
                                        <i class="fa-solid fa-inbox" style="color: #fefefe"></i>
                                        All
                                    </button>
                                </li>
                                {% for project in projects %}
                                <li class="project-item">
                                    <button type="button"
                                        :class='{"active": projectSort === {{project|json_encode|escape|safe}} }'
                                        class="i-label-button" x-on:click="projectSort='{{project|escape|safe}}'">
                                        <i class="fa-solid fa-hashtag" style="color: #fefefe"></i>
                                        {{project}}
                                    </button>
                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                    <div id="filter-groups"></div>
                    <div id="tag-groups"></div>
                    <div id="misc-groups"></div>
                </div>
            </div>
            <div class="task-list-container">
                <div id="task-list-header-container">
                    <div id="task-list-header">
                        <span>
                            <h2 style="margin:0px;">All</h2>
                        </span>
                        <span>
                            <button class="i-button">
                                <i class="fa-solid fa-ellipsis"></i>
                            </button></span>
                    </div>
                    <div id="task-input">
                        {% include "new_task" %}
                    </div>
                </div>
                <ul id="task-list" class="task-list">
                    {% for task in tasks %} {% include "task_item" %} {% endfor %}
                    <li class="empty-message" x-text="activeTab === 'search' ? 'No search results!' : 'Whew! No tasks!'">
                    </li>
                </ul>
            </div>
        </div>
        <div id="task-container">
            <p style="margin:4px;" class="empty-message">Nothing to see here...</p>
        </div>
    </div>

    <!--
    <div class="task-list-container">
        <div class="tabs-row">
            <button type="button" x-on:click="activeTab = 'pending'; newTaskNotification=false;"
                :class="{ 'active': activeTab === 'pending', 'task-notification': newTaskNotification }"
                class="tab-button" hx-get="/tasks/list" hx-target="#task-list" hx-swap="outerHTML">
                Pending
            </button>
            <button type="button" x-on:click="activeTab = 'completed'" :class="{ 'active': activeTab === 'completed' }"
                class="tab-button" hx-get="/tasks/list?status=completed" hx-target="#task-list" hx-swap="outerHTML">
                Completed
            </button>
            <button type="button" x-on:click="activeTab = 'search'; projectSort=''"
                :class="{ 'active': activeTab === 'search' }" class="tab-button" hx-get="/tasks/search?project=&due="
                hx-target="#task-list" hx-swap="outerHTML">
                Search
            </button>
        </div>
    </div>
    -->
</body>

</html>