<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task manager</title>
        <link rel="stylesheet" href="/style.css">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script defer src="https://unpkg.com/alpinejs@3.15.11/dist/cdn.min.js"></script>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    </head>
    <body
     x-data="{ {% for task in tasks %}
     '{{task.id}}': false,
     {% endfor %} }" x-on:keydown.escape="{% for task in tasks %} {{task.id}}=false; {% endfor %}"

    >
    <!-- TODO htmx modal inserting -->
    {%include "modals" %}
    <h1>Task manager</h1>
        {% include "new_task" %}
        <div class="tasks-list">
            <h2>Tasks</h2>
            <ul id="task-list" class="task-list">
            {% for task in tasks %}
                {% include "task_item" %}
            {% endfor %}
                <li id="empty-message">Whew! No tasks!</li>
            </ul>
        </div>
    </body>
</html>
