<!DOCTYPE html>
<html lang="en">
    <head>
        <style>@font-face {font-family: patricstar; src: url(/PatrickHand-Regular.ttf);}</style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task manager</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1>Task manager</h1>
        <div class="new-task">
            <form action="/add" method="post">
                <input type="hidden" name="user_id" value="TEST" required />
                <input type="text" name="name" placeholder="Task" required />
                <br>
                <textarea name="description" placeholder="Description"></textarea>
                <button type="submit">Add</button>
            </form>
        </div>
        <script src="/script.js"></script>
    </body>
</html>
