<input type=checkbox id="completed-state-{{task.id}} checked"
        hx-post="/tasks/complete/{{task.id}}"
        hx-trigger="click"
        :hx-swap="activeTab !== 'search' ? 'outerHTML swap:0.8s' : 'none'"
        hx-target="#task-{{task.id}}"
        autocomplete="off"
        {% if task.completed %}checked{%endif%}>
<svg>
    <use xlink:href="#checkbox-30" class="checkbox"></use>
</svg>
