<input type=checkbox id="completed-state-{{task.id}}"
        hx-post="/tasks/complete/{{task.id}}"
        hx-trigger="click"
        hx-swap="outerHTML"
        hx-target="#task-{{task.id}}"
        {% if task.completed %}checked{%endif%}>
